streamlit
opencv-python-headless
numpy
tensorflow
Pillow
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow-cpu
tensorflow-directml-plugin
tensorflow-estimator
tensorflow-io-gcs-filesystem
